<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HTML</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <style>
  .container {
    width: 600px;
    margin: 0px auto;
  }
  a[disabled] {
    pointer-events: none;
  }
  </style>
</head>
<body>
<div class="container">
<h1>강의 목록</h1>
<table id="lecture-tbl" class="table table-hover">
<thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>시작일</th>
    <th>종료일</th>
    <th>강의시간</th>
    <th>수업료</th>
  </tr>
</thead>
<tbody>
{{#each data}}
  <tr>
    <td>{{lno}}</td>
    <td><a href="detail.do?no={{lno}}">{{titl}}</a></td>
    <td>{{sdt}}</td>
    <td>{{edt}}</td>
    <td>{{thrs}}</td>
    <td>{{pric}}</td>
  </tr>
{{/each}}
</tbody>
</table>

<a href="list.do?pageNo={{prevPageNo}}" class="btn btn-primary" {{disabledPrevBtn}}>이전</a>
<span id="page-no">{{pageNo}}</span>
<a href="list.do?pageNo={{nextPageNo}}" class="btn btn-primary" {{disabledNextBtn}}>다음</a>
<a href="form.do" class="btn btn-primary">추가</a>
</div>


</body>
</html>


<!-- -->
